.curseclient
.ReAuth.cfg
_testSV
asm
backups
saves
betterfps.txt
betterrecords
BotaniaVars.dat
crash-reports
craftpresence/discord-rpc.dll
disabled_mods
mods
dumps
fonts
ForgeEssentials
hats
journeymap
logs
mods_tmpd
screenshots
PlayerCache.dat
*.log
options.txt
optionsof.txt
optionsshaders.txt
options_skinport.txt
*.dll
ODL/Ore Dictionary.txt
mputils/settings.dat
minecraftinstance.json
localconfig.cfg
mod-config/menu.dat
usercache.json
usernamecache.json
cachedImages
