# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=5d367502-9389-48aa-9b31-a62c2e45ef08

    # Set to true to disable all reporting
    B:opt-out=false
}


