# Configuration file

blocks {
    B:advDeconTable=true
    B:basalt=true
    B:biomeMorpher=true
    B:bloodDynamo=true
    B:bloodFabricator=true
    B:catalyst=true
    B:condenserBlock=true
    B:cosmeticOpaque=true
    B:cosmeticPane=true
    B:creativeJar=true
    B:crystalBlock=true
    B:eldritchConsumer=true
    B:electricBellows=true
    B:essentiaContainer=true
    B:essentiaDynamo=true
    B:existenceBurner=true
    B:existenceFountain=true
    B:existencePylon=true
    B:existenceUser=true
    B:flowerDynamo=true
    B:fluxLamp=true
    B:fusor=true
    B:itemTransmitter=true
    B:manaExchanger=true
    B:manaFabricator=true
    B:manaFluid=true
    B:nodeDynamo=true
    B:nodeGenerator=true
    B:processorBM=true
    B:processorBO=true
    B:processorTC=true
    B:reservoir=true
    B:teslaCoil=true
}


hud {
    B:ShowHUD=false
    I:StartX=16
    I:StartY=88
}


items {
    B:coilCoupler=true
    B:essentiaCannon=true
    B:existenceGem=true
    B:fusionFocus=true
    B:itemBM=true
    B:itemBO=true
    B:itemBoost=true
    B:itemMaterial=true
    B:itemScepter=true
    B:pen=true
    B:ritualTome=true

    # Enhanced villagers will only be enabled if this option AND the treasures option are true. Note, some of the villagers can cause large scale damage, you have been warned!
    B:treasureSafeguard=false
    B:treasures=true
    B:wandCores=true
}


machines {
    I:"Blacklisted materials for use in the Essentia Reconstructor" <
     >
}


misc {
    B:DebugFunction=false
    B:"Mekanism Recipes Will Override TE Ones"=false
}


potions {
    I:drown=82
    I:slowFall=83
}


pureores {
    B:pureAdamantine=true
    S:pureAdamantineColor=0x947ea1
    S:pureAdamantineIngots=2,3,4,5,6,7
    S:pureAdamantineName=Adamantine
    B:pureAluminum=true
    S:pureAluminumColor=0x959696
    S:pureAluminumIngots=2,3,4,5,6,7
    S:pureAluminumName=Aluminum
    B:pureAnyCopper=true
    S:pureAnyCopperColor=0xb6794d
    S:pureAnyCopperIngots=2,3,4,5,6,7
    S:pureAnyCopperName=AnyCopper
    B:pureAnyIron=true
    S:pureAnyIronColor=0xaca6a7
    S:pureAnyIronIngots=2,3,4,5,6,7
    S:pureAnyIronName=AnyIron
    B:pureArdite=true
    S:pureArditeColor=0x853b17
    S:pureArditeIngots=2,3,4,5,6,7
    S:pureArditeName=Ardite
    B:pureCobalt=true
    S:pureCobaltColor=0x354bbd
    S:pureCobaltIngots=2,3,4,5,6,7
    S:pureCobaltName=Cobalt
    B:pureColdiron=true
    S:pureColdironColor=0x686879
    S:pureColdironIngots=2,3,4,5,6,7
    S:pureColdironName=Coldiron
    B:pureCopper=true
    S:pureCopperColor=0xae754b
    S:pureCopperIngots=2,3,4,5,6,7
    S:pureCopperName=Copper
    B:pureGold=true
    S:pureGoldColor=0x979377
    S:pureGoldIngots=2,3,4,5,6,7
    S:pureGoldName=Gold
    B:pureIron=true
    S:pureIronColor=0x9f9f9f
    S:pureIronIngots=2,3,4,5,6,7
    S:pureIronName=Iron
    B:pureLead=true
    S:pureLeadColor=0x7e7b85
    S:pureLeadIngots=2,3,4,5,6,7
    S:pureLeadName=Lead
    B:pureManganese=true
    S:pureManganeseColor=0xb3aaa4
    S:pureManganeseIngots=2,3,4,5,6,7
    S:pureManganeseName=Manganese
    B:pureMithral=true
    S:pureMithralColor=0xc6c6b9
    S:pureMithralIngots=2,3,4,5,6,7
    S:pureMithralName=Mithral
    B:pureMithril=true
    S:pureMithrilColor=0xd2dcca
    S:pureMithrilIngots=2,3,4,5,6,7
    S:pureMithrilName=Mithril
    B:pureNickel=true
    S:pureNickelColor=0xa8a6a5
    S:pureNickelIngots=2,3,4,5,6,7
    S:pureNickelName=Nickel
    B:pureOsmium=true
    S:pureOsmiumColor=0x4f51bd
    S:pureOsmiumIngots=2,3,4,5,6,7
    S:pureOsmiumName=Osmium
    B:purePlatinum=true
    S:purePlatinumColor=0xc3cac2
    S:purePlatinumIngots=2,3,4,5,6,7
    S:purePlatinumName=Platinum
    B:pureShadow=true
    S:pureShadowColor=0x6c6a7f
    S:pureShadowIngots=2,3,4,5,6,7
    S:pureShadowName=Shadow
    B:pureSilver=true
    S:pureSilverColor=0xbfc2c7
    S:pureSilverIngots=2,3,4,5,6,7
    S:pureSilverName=Silver
    B:pureTin=true
    S:pureTinColor=0xbdbfbe
    S:pureTinIngots=2,3,4,5,6,7
    S:pureTinName=Tin
    B:pureTitanium=true
    S:pureTitaniumColor=0xa996ce
    S:pureTitaniumIngots=2,3,4,5,6,7
    S:pureTitaniumName=Titanium
    B:pureTungsten=true
    S:pureTungstenColor=0x2a2a2a
    S:pureTungstenIngots=2,3,4,5,6,7
    S:pureTungstenName=Tungsten
    B:pureYellorium=true
    S:pureYelloriumColor=0xa7ab5d
    S:pureYelloriumIngots=2,3,4,5,6,7
    S:pureYelloriumName=Yellorium
    B:pureZinc=true
    S:pureZincColor=0xbab4aa
    S:pureZincIngots=2,3,4,5,6,7
    S:pureZincName=Zinc
}


rate {
    I:BiomeMorpher=20000
    I:BloodFabricator=1000000
    I:Condenser=1000000
    I:EldritchConsumer=20000
    I:ElectricBellows=500
    I:EssentiaFusor=1000
    I:ManaExchanger=1000
    I:ManaFabricator=1000000
}


recipes {
    B:"Add/Increase Smelting bonus to dusts/ore"=true
}


renderers {
    B:CoilFX=true
}


